/* главный цвет фона #FFFFFF */
/* вспомогательный цвет фона #2F303A */
/* головный цвет текста #757575 */
/* вспомогательный цвет текста #212121 */
/* цвет кнопок главный #F5F4FA */
/* цвет кнопок вспомогательны #2196F3 */
/*цвет лого #000000 */

:root {
  --first-fon-color: #ffffff;
  --secondary-fon-color: #2f303a;
  --first-color-text: #757575;
  --secondary-color-text: #212121;
  --first-button-color: #f5f4fa;
  --secondary-button-color: #2196f3;
  --logo-color: #000000;
}
body {
  background-color: var(--first-fon-color);
  color: var(--first-color-text);
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.head-logo {
  text-decoration: none;
  color: var(--secondary-button-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.head-nav,
.head-adress {
  list-style: none;
}

.span-logo {
  color: var(--secondary-color-text);
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}

.link:hover,
.link:focus {
  color: var(--secondary-button-color);
}
.link:active {
  color: var(--secondary-button-color);
}

/*оформлення тіла*/
/*оформлення постера*/
.main-poster {
  background-color: var(--secondary-fon-color);
}

.heading-taxt {
  color: var(--first-fon-color);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.4;
}

.button-secondary {
  cursor: pointer;
  background-color: var(--secondary-button-color);
  color: var(--first-fon-color);
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.9;
  font-weight: 700;
}
/*оформление блока наши возможности*/
.object-none {
  display: none;
  list-style: none;
}
.our-work {
  list-style: none;
}

.our-aim {
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--secondary-color-text);
  font-size: 14px;
}

/*сектор наша команда*/
